@page "/blockchain"
@using Breadloaf.Models
@using Microsoft.Extensions.Logging

@inject ILogger<BlockInfo> Logger;
@inject Blockchain Blockchain;

<section class="has-20-padding has-20-margin has-border-radius-15 is-grape has-shadow">
    <h1 class="title">Blocks Information:</h1>
    <div class="container">
        <p class="subtitle has-text-justified">
            We can see the current state of the chain and get basic information about it. The information displayed is only
            for our current application AKA node. If there were multiple nodes, this information would be changing drastically as new
            blocks are added to the chain and fluctuation in pending transaction count.
        </p>
    </div>

    <div class="container">
        <div class="columns is-centered has-10-padding has-10-margin">
            <div class="column">
                <figure class="image is-200x200 is-floating">
                    <img src="imgs/jewel.gif" alt="">
                </figure>
            </div>

            <div class="column">
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>
                            <b>
                                Transaction Threshold:
                            </b>
                        </td>
                        <td>
                            @Blockchain.TransactionThreshold
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Mining Difficulty:
                            </b>
                        </td>
                        <td>
                            @Blockchain.Difficulty
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Connected Nodes:
                            </b>
                        </td>
                        <td>
                            @Blockchain.Nodes.Count
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Blocks Count:
                            </b>
                        </td>
                        <td>
                            @Blockchain.Blocks.Count Block(s)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Pending Transactions:
                            </b>
                        </td>
                        <td>
                            @Blockchain.PendingTransactions.Count
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Chain Validity:
                            </b>
                        </td>
                        <td>
                            @(Blockchain.IsValid ? "Valid" : "Invalid")
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>
                                Circulating Crumbs:
                            </b>
                        </td>
                        <td>
                            @Math.Round(Blockchain.Crumbs, 3) Crumbs
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="has-20-padding has-20-margin has-border-radius-15 has-text-centered">
    @for (var i = 0; i < Blockchain.Blocks.Count; i++) {
        var block = Blockchain.Blocks[i];
        var prevHash = block.PreviousHash == "0"
            ? block.PreviousHash ?? "Unknown"
            : $"{block.PreviousHash.Substring(0, 20)} ...";
        var genesisColor = i == 0 ? "is-tea-pink" : "is-somewhat-black";

        <block class="@genesisColor">
            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <td>
                        Hash
                    </td>
                    <td>
                        @block.Hash.Substring(0, 20) ...
                    </td>
                </tr>
                <tr>
                    <td>
                        Previous Hash
                    </td>
                    <td>
                        @prevHash
                    </td>
                </tr>
                <tr>
                    <td>
                        Nonce
                    </td>
                    <td>
                        @block.Nonce
                    </td>
                </tr>
                <tr>
                    <td>
                        Timestamp
                    </td>
                    <td>
                        @block.TimeStamp
                    </td>
                </tr>
                <tr>
                    <td>
                        PendingTransactions
                    </td>
                    <td>
                        @block.Transactions.Count
                    </td>
                </tr>
                </tbody>
            </table>
        </block>
    }
</section>